<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Desarrolladores</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="pagina-info">
    <h1>Desarrolladores</h1>
    <ul>
      <li><strong>Nombre:</strong> Benjamín Arredondo</li>
      <li><strong>Nombre:</strong> Catalina Perez </li>
      <li><strong>Nombre:</strong> Ignacio Valdivia </li>
      <li><strong>Rol:</strong> Estudiantes de Desarrollo Web</li>
      <li><strong>Correo:</strong> SI@ejemplo.cl</li>
    </ul>
    <a href="index.html">Volver al inicio</a>
  </main>
</body>
</html>
