<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Historia del Ajedrez</title>
  <link rel="stylesheet" href="./reglas.css">

</head>
<body>

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Historia del Ajedrez</title>
  <link rel="stylesheet" href="historia.css">
</head>
<body>
  <div class="contenedor">
    <h1 class="titulo">Historia del Ajedrez</h1>
    <h2 class="subtitulo">El ajedrez es uno de los deportes más famosos e intelectuales del mundo, que al pasar del tiempo se ha considerado una herramienta para desarrollar el pensamiento lógico.</h2>

    <div class="cuadro">
      <h3>Origen del Ajedrez</h3>
      <p> No existe un consenso claro sobre el origen del ajedrez, pero se sugiere que fue inventado en Asia, posiblemente en la India, donde existía una versión del juego llamada "chaturanga", que presentaba muchas similitudes con el ajedrez moderno. Desde allí, comenzó a difundirse a través de diversas rutas comerciales.</p>
           <p>Posteriormente, el juego pasó a manos árabes tras la conquista de Persia, y fueron ellos quienes lo llevaron a Occidente, extendiéndolo por Europa y África.</p>
          <p> El gran auge del ajedrez tuvo lugar en Europa durante el siglo XV. Con el tiempo, las reglas y las piezas fueron evolucionando. Entre los principales aportes europeos destacan la incorporación de la dama y el alfil tal como los conocemos hoy.</p>
          <p> En el siglo XVIII surgieron los primeros clubes de ajedrez, y en 1851 se celebró el primer torneo internacional en Londres, impulsado por la creciente popularidad del juego. Más tarde, en 1924, se fundó la Federación Internacional de Ajedrez.</p>
          <p> En la era contemporánea comenzaron a desarrollarse los primeros programas informáticos de ajedrez, y con la llegada de internet, el juego se popularizó aún más gracias a la posibilidad de competir en línea contra personas o máquinas de todo el mundo.</p>
    </div>

  </div>
</body>


</body>
</html>
