<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Reglas Ajedrez</title>
  <link rel="stylesheet" href="./reglas.css">

</head>
<body>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reglas del Ajedrez</title>
  <link rel="stylesheet" href="reglas.css>
</head>
<body>
  
    <h1 class="titulo">REGLAS AJEDREZ</h1>

    <div class="paso uno">
      <div class="numero">1</div>
      <h3>Orden tablero de ajedrez</h3>
      <p>La posición de las piezas es siempre la misma. En la segunda fila van los 8 peones. Luego las torres se colocan en las esquinas del tablero, los dos caballos al lado de las torres, seguidos por los alfiles. Al lado de estos se coloca la dama en la casilla de su mismo color, y por último el rey se coloca en la casilla restante al lado de la dama.</p>
    </div>

    <div class="paso dos">
      <div class="numero">2</div>
      <h3>Movimiento de las piezas</h3>
      <p>Torre: Se mueve de forma horizontal y vertical, pero nunca de forma diagonal. Puede moverse las casillas que quiera, pero solo un una dirección cada turno.
      </p>
      <p>
        Alfil: Se puede mover tantas casillas quiera, pero solo de forma diagonal, y en una dirección (cada turno).</p>
      <p>
        Dama: Es la pieza más poderosa, ya que puede moverse horzonal, vertical y diagonalmente, pero solo en una dirección cada turno, y tantas casillas como quiera, siempre y cuando no pase por encima de una pieza de su color. </p>
      <p>
        Rey: Solo puede avanzar una casilla en cualquier dirección. Un rey no puede dar jaque a otro rey. </p>
      <p>
        Caballo: Se mueve en forma de L, ya que avanza dos casillas en horizontal o vertical y después una casilla vartical u horizontal, o viceversa. </p>
      <p>
        Péon: Pueden avanzar una casilla en cada jugada, a excepción de la primera, ya que en esta pueden avanzar dos casillas. Nunca pueden retroceder, siempre se mueven hacia adelante, pero capturan en diagonal y frente a ellos.</p>
    </div>

    <div class="paso tres">
      <div class="numero">3</div>
      <h3>Primera jugada</h3>
      <p>El jugador con las piezas blancas siempre es el primero en mover, seguidamente se mueven las piezas negras, y así sucesivamente hasta el final de la partida.</p>
    </div>

    <div class="paso cuatro">
      <div class="numero">4</div>
      <h3>Pieza tocada</h3>
      <p>Si un jugador toca la pieza durante su turno con la intención de moverla, entonces esa pieza obligatoriamente debe ser movida.</p>
    </div>

    <div class="paso cinco">
      <div class="numero">5</div>
      <h3>Cronometraje</h3>
      <p>En los torneos de Ajedrez, hay ciertas limitaciones de tiempo, usando un reloj de ajedrez, por lo que cada jugador debe hacer sus movimientos dentro del control de tiempo o pierde el juego.</p>
    </div>
  </div>
</body>
  
</body>
</html>
